@import "../../assets/styles/variables.scss";
@import "../../assets/styles/utilities.scss";

.btn {
  cursor: pointer;
  color: white;
  background-color: $primary-color;
  padding: 5px 20px;
  border-radius: 2px;

  &:hover {
    background-color: $primary-color--darker;
  }
}
