.box-container-top {
  margin: 20px 20px 20px 20px;
}

.box-container-in {
  margin: 20px 20px 20px 20px;
}

.calendar-header {
  display: flex;
}

.chevron {
  cursor: pointer;
}

.chevron:hover {
  color: #EDEDED;
}
