@import "../../assets/styles/variables.scss";
@import "../../assets/styles/utilities.scss";

.dayName {
  padding: 5px;
}

.dayNumber {
  padding: 0px 5px 5px 5px;
}

.day:hover {
  cursor: pointer;
  background: $secondary-color--darker;
}

.unselected {
  background-color: $secondary-color--hue;
}

.week-bg {
  .day {
    width: 55px;
    height: 55px;
    border: 1px solid $secondary-color--darker;
    font-size: 9px;
  }
  
  .selected {
    background-color: $primary-color--hue;
    border: 1px solid $primary-color--hue;
  }

  .on-selected-slot {
    background-color: $primary-color--lighter;
    border: 1px solid $primary-color--lighter;
  }
}