@import "../../assets/styles/variables.scss";
@import "../../assets/styles/utilities.scss";

.dayName {
  padding: 5px;
}

.dayNumber {
  padding: 0px 5px 5px 5px;
}

.week-bg {
  .day {
    width: 55px;
    height: 55px;
    border: 1px solid $secondary-color--darker;
    font-size: 9px;

    &:hover {
      cursor: pointer;
      background: $secondary-color--darker;
    }
  }

  .unselected {
    background-color: $secondary-color--hue;
  }
  
  .selected {
    background-color: $neutral;
    border: 1px solid $primary-color--hue;

    &:hover {
      background-color: $primary-color--hue;
    }
  }

  .on-selected-slot {
    background-color: $primary-color--lighter;
    border: 1px solid $primary-color--lighter;

    &:hover {
      background-color: $primary-color--hue;
    }
  }
}

.week-bg-disabled {
  .day {
    width: 55px;
    height: 55px;
    border: 1px solid $secondary-color--darker;
    font-size: 9px;
  }
  
  .selected {
    background-color: $neutral;
    border: 1px solid $secondary-color--hue;
  }

  .on-selected-slot {
    background-color: $neutral;
    border: 1px solid $secondary-color--hue;
  }
}