@import "../../assets/styles/variables.scss";
@import "../../assets/styles/utilities.scss";

.dayName {
  padding: 10px;
}

.dayNumber {
  padding: 0px 10px 10px 10px;
}

.day {

}

.cell-bg {
  &.day {
    width: 55px;
    height: 55px;
    border: 1px solid $secondary-color--darker;
    font-size: 9px;
  }
  
  &.day.draftTimeline:hover {
    cursor: pointer;
    background: $secondary-color--darker;
  }

  &.unselected {
    background-color: $secondary-color--hue;
  }
  
  &.draftTimeline {
    &.selected {
    background-color: $primary-color--hue;
    }
  
    &.on-selected-slot {
      background-color: $primary-color--lighter;
    }
  }
  
  &.draftSchedules {
    &.selected {
      background-color: $neutral;
    }
  
    &.on-selected-slot {
      background-color: $neutral;
    }
  }  
}

.cell-foreground.selected-foreground {
  width: 57px; // for some reason needs to be 2 more px than other box
  height: 55px;
  background-color: red;
  .schedule-placeholder {
    margin-top: 60px;
    width: 100%;
    height: 10px;
    background-color: $primary-color--hue;
  }
}