@import "../../assets/styles/variables.scss";
@import "../../assets/styles/utilities.scss";

.week-content {
  .day {
    cursor: pointer;
    width: 57px; // need to add pixels to account for borders
    height: 55px;
  }
  .selected {
    .schedule-placeholder {
      margin-top: 37px;
      width: 100%;
      height: 10px;
      background-color: $primary-color--hue;
    }
  }
}