@import "../../assets/styles/variables.scss";
html {
  background-color: $actions-disabled;
}

h1 {
  font-size: $heading-1;
}

h2 {
  font-size: $heading-2;
}

p {
  font-size: $paragraph-1;
}

.box-container {
  padding: $margin-size-4;
}

.box-container-h {
  padding: 0 $margin-size-4;
}

.box-container-popup-out {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container-popup-in {
  width: 900px;
}

.box-container--grey {
  background-color: $secondary-color--hue;
}

.box-container--neutral {
  background-color: $neutral;
}